<h1>Scan Results</h1>

<ul class="results-list">
  {{#each trends}}
    
    <li>{{prettyDay this.date}} &mdash; last updated {{prettyTime this.scanFinished}}
      <ul>
      {{#each this.trends}}
        <li>{{this.name}} &mdash; {{this.searchCount}} searches</li>
      {{/each}}
      </ul>
    </li>
  {{/each}}

