<h1>Scan Results</h1>

<ul class="results-list">
  {{#each trends}}
    <li>{{prettyDate this.date}}
      <ul>
      {{#each this.trends}}
        <li>{{this.name}}</li>
      {{/each}}
      </ul>
    </li>
  {{/each}}

